---
permalink: /search.json
eleventyExcludeFromCollections: true
---
[
  {%- for page in collections.all -%}
    {%- if page.url -%}
    {
      "url": "{{ page.url | url }}",
      "title": "{{ page.data.title | escape }}",
      "content": "{{ page.templateContent | striptags | replace('\n', ' ') | replace('"', '\"') | escape }}"
    }
    {%- if not loop.last -%},{%- endif -%}
    {%- endif -%}
  {%- endfor -%}
]